// font 
$baseFont: 14px;

// color
$baseColor: #515a6e;
$titleColor: #3E3F42;
$borderColor: #EAEDF3;

// sidebar
$menuColor: #B4C0CF;
$activeMenuColor: #B4C0CF;
$menuBg: #19233E;
$activeMenuBg: #212E5A;
$subMenuBg: #001424;

:export {
  menuColor: $menuColor;
  activeMenuColor: $activeMenuColor;
  menuBg: $menuBg;
}