// font
$baseFont: 14px;

// color
$baseColor: #515a6e;
$titleColor: #3e3f42;
$borderColor: #eaedf3;
$themeColor: #3872f2;

// sidebar
$menuColor: #b4c0cf;
$activeMenuColor: #b4c0cf;
$menuBg: #19233e;
$activeMenuBg: #212e5a;
$subMenuBg: #001424;

:export {
  menuColor: $menuColor;
  activeMenuColor: $activeMenuColor;
  menuBg: $menuBg;
  themeColor: $themeColor;
}
